C 0 0 "A1" 0 0 0 0 60 0 L
X "PIN_TEXT" "A1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "A2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "A2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "A3" 0 -200 0 0 60 0 L
X "PIN_TEXT" "A3" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "A4" 0 -300 0 0 60 0 L
X "PIN_TEXT" "A4" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "A5" 0 -400 0 0 60 0 L
X "PIN_TEXT" "A5" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "A6" 0 -500 0 0 60 0 L
X "PIN_TEXT" "A6" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "A7" 0 -600 0 0 60 0 L
X "PIN_TEXT" "A7" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "A8" 0 -700 0 0 60 0 L
X "PIN_TEXT" "A8" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "A9" 0 -800 0 0 60 0 L
X "PIN_TEXT" "A9" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "B1" 0 -900 0 0 60 0 L
X "PIN_TEXT" "B1" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "B2" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "B2" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "B3" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "B3" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "B4" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "B4" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "B5" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "B5" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "B6" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "B6" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 0 -1500 "B7" 0 -1500 0 0 60 0 L
X "PIN_TEXT" "B7" 230 -1530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1500 0 -1500 -1 0
C 0 -1600 "B8" 0 -1600 0 0 60 0 L
X "PIN_TEXT" "B8" 230 -1630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1600 0 -1600 -1 0
C 0 -1700 "B9" 0 -1700 0 0 60 0 L
X "PIN_TEXT" "B9" 230 -1730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1700 0 -1700 -1 0
C 900 0 "C1" 900 0 0 0 60 0 R
X "PIN_TEXT" "C1" 670 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 700 0 900 0 -1 0
C 900 -100 "C2" 900 -100 0 0 60 0 R
X "PIN_TEXT" "C2" 670 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -100 900 -100 -1 0
C 900 -200 "C3" 900 -200 0 0 60 0 R
X "PIN_TEXT" "C3" 670 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -200 900 -200 -1 0
C 900 -300 "C4" 900 -300 0 0 60 0 R
X "PIN_TEXT" "C4" 670 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -300 900 -300 -1 0
C 900 -400 "C5" 900 -400 0 0 60 0 R
X "PIN_TEXT" "C5" 670 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -400 900 -400 -1 0
C 900 -500 "C6" 900 -500 0 0 60 0 R
X "PIN_TEXT" "C6" 670 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -500 900 -500 -1 0
C 900 -600 "C7" 900 -600 0 0 60 0 R
X "PIN_TEXT" "C7" 670 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -600 900 -600 -1 0
C 900 -700 "C8" 900 -700 0 0 60 0 R
X "PIN_TEXT" "C8" 670 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -700 900 -700 -1 0
C 900 -800 "C9" 900 -800 0 0 60 0 R
X "PIN_TEXT" "C9" 670 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -800 900 -800 -1 0
C 900 -900 "D1" 900 -900 0 0 60 0 R
X "PIN_TEXT" "D1" 670 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -900 900 -900 -1 0
C 900 -1000 "D2" 900 -1000 0 0 60 0 R
X "PIN_TEXT" "D2" 670 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -1000 900 -1000 -1 0
C 900 -1100 "D3" 900 -1100 0 0 60 0 R
X "PIN_TEXT" "D3" 670 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -1100 900 -1100 -1 0
C 900 -1200 "D4" 900 -1200 0 0 60 0 R
X "PIN_TEXT" "D4" 670 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -1200 900 -1200 -1 0
C 900 -1300 "D5" 900 -1300 0 0 60 0 R
X "PIN_TEXT" "D5" 670 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -1300 900 -1300 -1 0
C 900 -1400 "D6" 900 -1400 0 0 60 0 R
X "PIN_TEXT" "D6" 670 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -1400 900 -1400 -1 0
C 900 -1500 "D7" 900 -1500 0 0 60 0 R
X "PIN_TEXT" "D7" 670 -1530 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -1500 900 -1500 -1 0
C 900 -1600 "D8" 900 -1600 0 0 60 0 R
X "PIN_TEXT" "D8" 670 -1630 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -1600 900 -1600 -1 0
C 900 -1700 "D9" 900 -1700 0 0 60 0 R
X "PIN_TEXT" "D9" 670 -1730 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -1700 900 -1700 -1 0
L 200 100 700 100 -1 0
L 700 -1800 700 100 -1 0
L 700 -1800 200 -1800 -1 0
L 200 100 200 -1800 -1 0
P "$LOCATION" "?" 750 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

